/Builds/
/Examples/Spacats CharacterController Examples/Scenes/TestBigScene.unity
/Examples~/Spacats CharacterController Examples/Scenes/TestBigScene.unity
/Examples/Spacats CharacterController Examples/Scenes/TestBigScene.unity.meta
/Examples~/Spacats CharacterController Examples/Scenes/TestBigScene.unity.meta
*.unitypackage
*.blend1
*.blend2
*.blend2.meta
*.blend1.meta
*.unitypackage.meta